.layer {
  position: absolute;
  height: 33.333vh;
  width: 100vw;
  z-index: -1;
}

.layer-upper {
  /* background: #b4d6ff; */
  background: #bbffbb;
}

.layer-middle {
  top: 33.333vh;
  background: #bbffbb;
}

.layer-bottom {
  top: 66.666vh;
  /* background: #ffc7c7; */
  background: #bbffbb;
}
